# Exploratory Notebook

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Data/Aviation_Data.csv')
df

C:\Users\kpegg\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
df.shape
# the shape of the dataframe

(90348, 31)

In [5]:
df['Total.Fatal.Injuries'].value_counts()
# check the total count of fatal injuries

0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: Total.Fatal.Injuries, Length: 125, dtype: int64

In [6]:
df['Total.Serious.Injuries'].value_counts()
# check the count of serious injuries

0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64

In [7]:
df['Total.Minor.Injuries'].value_counts()
# check the count of minor injuries

0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: Total.Minor.Injuries, dtype: int64

In [8]:
df['Total.Uninjured'].value_counts()
# and check uninjured

0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64

In [9]:
df['Total.Fatal.Injuries'].isna().sum()
# ~13% of data is nulls/NaN

12860

In [10]:
df['Total.Serious.Injuries'].isna().sum()
# ~14% of data is nulls/NaN

13969

In [11]:
df['Total.Minor.Injuries'].isna().sum()
# ~14 % of data is nulls/NaN

13392

In [12]:
df['Total.Uninjured'].isna().sum()
# ~7% of data is null/NaN

7371

In [13]:
df['Aircraft.damage'].value_counts()
# occurrence of aircraft damage

Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

In [14]:
df['Aircraft.damage'].isna().sum()
# how many nulls for damage

4653

In [15]:
df['Report.Status'].value_counts()
# what report status looks like

Probable Cause                                                                                                                                                                                                                                                                                                                 61754
Foreign                                                                                                                                                                                                                                                                                                                         1999
<br /><br />                                                                                                                                                                                                                                                                                                                     167
Factual                                                                                                                                                                                                                                                                                                                          145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                                      58
                                                                                                                                                                                                                                                                                                                               ...
The pilots sustained flight at airspeeds in excess of the airplane's never exceed speed during a steep descent, which resulted in a subsequent in-flight structural failure due to overstress.                                                                                                                                    1
Both pilots failure to maintain control during the landing flare and the flight instructors failure to maintain control during an attempted go-around, in gusting quartering headwind conditions, which resulted in the exceedance of the airplanes critical angle of attack and an aerodynamic stall at low altitude.\r        1
The pilot's inability to maintain control during landing due to the separation of the nose landing gear upper scissor from the nose gear assembly. Contributing to the accident was the inadequate visual examination performed during the annual inspection.                                                                      1
The pilot's failure to extend the landing gear before landing. Contributing to the accident was the diversion of the pilot's attention to an airplane on a converging final approach course.                                                                                                                                       1
The mechanics improper installation of the elevator trim actuator, which resulted in reversed elevator trim control, and his subsequent failure to detect the misrigging of the elevator cables during the postmaintenance inspection.\r                                                                                          1
Name: Report.Status, Length: 17007, dtype: int64

In [16]:
df['Air.carrier'].value_counts()
# what carrier looks like

Pilot                                               258
American Airlines                                    90
United Airlines                                      89
Delta Air Lines                                      53
SOUTHWEST AIRLINES CO                                42
                                                   ...
COOPER AERIAL PHOTO INC                               1
Provincetown Boston Airlines                          1
Trans Aereos Mercan Pan Am (dba: Tampa Airlines)      1
PT. Lion Mentari Airlines                             1
Hageland Aviation Inc.                                1
Name: Air.carrier, Length: 13590, dtype: int64

In [17]:
df['Injury.Severity'].value_counts()
# check counts of injury severity

Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(115)        1
Fatal(156)        1
Fatal(132)        1
Fatal(89)         1
Fatal(265)        1
Name: Injury.Severity, Length: 109, dtype: int64

In [18]:
df['Weather.Condition'].value_counts()
# look at weather conditions

VMC    77303
IMC     5976
UNK      856
Unk      262
Name: Weather.Condition, dtype: int64

In [19]:
df['Make'].value_counts()
# look at make column

Cessna                 22227
Piper                  12029
CESSNA                  4922
Beech                   4330
PIPER                   2841
                       ...
R.d. Bell/pietenpol        1
Aeronca/bubeck             1
FRANKE ROLAND              1
Masko                      1
Flake                      1
Name: Make, Length: 8237, dtype: int64

In [20]:
#df['Make'] = df['Make'].str.title()
#df['Make'].value_counts()
# try to clean up some data for Make

In [21]:
df['Model'].value_counts()
# look at Models

152                   2367
172                   1756
172N                  1164
PA-28-140              932
150                    829
                      ...
C182A                    1
305 (L-19)               1
SENIOR AERO              1
MAGNI M24                1
HAWK ARROW II SLSA       1
Name: Model, Length: 12318, dtype: int64

In [22]:
df['Event.Date'][:4].value_counts()
# look at dates

1974-08-30    1
1977-06-19    1
1948-10-24    1
1962-07-19    1
Name: Event.Date, dtype: int64

In [23]:
df.duplicated().value_counts()
# look at duplicates

False    88958
True      1390
dtype: int64

In [24]:
df = df.drop_duplicates()
# duplicates dropped

In [25]:
df['Year'] = df['Event.Date'].str[:4]
print(df['Year'])

0        1948
1        1962
2        1974
3        1977
4        1979
         ...
90343    2022
90344    2022
90345    2022
90346    2022
90347    2022
Name: Year, Length: 88958, dtype: object

<ipython-input-25-a2a66f676455>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Event.Date'].str[:4]

In [26]:
df['Amateur.Built'].value_counts()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
 31  Year                    88889 non-null  object
dtypes: float64(5), object(27)
memory usage: 22.4+ MB

In [28]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [31]:
df_airplane = df[df['Aircraft.Category'].str.contains('Airplane', na=False)]
df_airplane
# dropped rows that did not have 'Airplane' as a category

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,1979
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022
90332,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90335,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022,2022
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022

In [32]:
df_airplane['Make'].unique()

array(['Mcdonnell Douglas', 'Cessna', 'Bellanca', ..., 'GREG HOBBS',
       'JAMES R DERNOVSEK', 'ORLICAN S R O'], dtype=object)

In [34]:
df_airplane['Make'] = df_airplane['Make'].str.title()
df_airplane['Make'].value_counts()

<ipython-input-34-83ccc4b527f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make'] = df_airplane['Make'].str.title()

Cessna                      8475
Piper                       4715
Beech                       1692
Boeing                      1324
Mooney                       419
                            ...
Alpi Aviation                  1
Charles D Walker               1
Twenty Second Street Llc       1
Aviat Aircraft                 1
Nihon                          1
Name: Make, Length: 3537, dtype: int64

In [35]:
df['Make'].unique()[:40]
#looking at some of the unique values of Makes

array(['Stinson', 'Piper', 'Cessna', 'Rockwell', 'Mcdonnell Douglas',
       'North American', 'Beech', 'Bellanca', 'Navion', 'Enstrom',
       'Smith', 'Bell', 'Grumman', 'Beechcraft', 'Maule', 'Air Tractor',
       'Aerospatiale', 'Mooney', 'Boeing', 'Curtis', 'Schleicher',
       'Quickie', 'Lockheed', 'Embraer', 'Hughes', 'Swearingen',
       'De Havilland', 'Bell Helicopter', 'Bede Aircraft', 'Convair',
       'Beachner', 'Canadair', 'Douglas', 'Sons Mustang', 'Dassault/Sud',
       'Sikorsky', 'Bell/Textron', 'Robertson', 'Aeronca',
       'Smith Miniplane'], dtype=object)

In [36]:
df_airplane['Make']=df_airplane['Make'].replace("Douglas", "Mcdonnell Douglas")
df_airplane['Make'].value_counts()
#cleaning

<ipython-input-36-ab5c80cc546d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Douglas", "Mcdonnell Douglas")

Cessna                      8475
Piper                       4715
Beech                       1692
Boeing                      1324
Mooney                       419
                            ...
Haley                          1
Alpi Aviation                  1
Charles D Walker               1
Twenty Second Street Llc       1
Nihon                          1
Name: Make, Length: 3536, dtype: int64

In [37]:
df_airplane['Make']=df_airplane['Make'].replace("Boeing Company", "Boeing")
df_airplane['Make'].value_counts()
# more cleaning

<ipython-input-37-0d5c860644b1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Boeing Company", "Boeing")

Cessna                      8475
Piper                       4715
Beech                       1692
Boeing                      1333
Mooney                       419
                            ...
Haley                          1
Alpi Aviation                  1
Charles D Walker               1
Twenty Second Street Llc       1
Nihon                          1
Name: Make, Length: 3535, dtype: int64

In [44]:
df_airplane['Make']=df_airplane['Make'].replace("Mcdonnell-Douglas", "Mcdonnell douglas")
df_airplane['Make']=df_airplane['Make'].replace('Rockwell Comdr', "Rockwell Intl")
df_airplane['Make']=df_airplane['Make'].replace('Rockwell Commander', "Rockwell Intl")
df_airplane['Make']=df_airplane['Make'].replace('Rockwell', "Rockwell Intl")
df_airplane['Make']=df_airplane['Make'].replace('Rockwell Intl.', "Rockwell Intl")
df_airplane['Make']=df_airplane['Make'].replace('Smith Mini', "Smith Miniplane")
df_airplane['Make']=df_airplane['Make'].replace('Gulfstream American', "Gulfstream")

<ipython-input-44-7b82a47f278f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Mcdonnell-Douglas", "Mcdonnell douglas")
<ipython-input-44-7b82a47f278f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Rockwell Comdr', "Rockwell Intl")
<ipython-input-44-7b82a47f278f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Rockwell Commander', "Rockwell Intl")
<ipython-input-44-7b82a47f278f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Rockwell', "Rockwell Intl")
<ipython-input-44-7b82a47f278f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Rockwell Intl.', "Rockwell Intl")
<ipython-input-44-7b82a47f278f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Smith Mini', "Smith Miniplane")
<ipython-input-44-7b82a47f278f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Gulfstream American', "Gulfstream")

In [46]:
list(df_airplane['Make'].unique()[:25])

['Mcdonnell Douglas',
 'Cessna',
 'Bellanca',
 'Navion',
 'Beech',
 'Piper',
 'Grumman',
 'Beechcraft',
 'Maule',
 'Air Tractor',
 'Rockwell Intl',
 'Mooney',
 'Boeing',
 'Curtis',
 'Quickie',
 'Lockheed',
 'Embraer',
 'Swearingen',
 'De Havilland',
 'Bede Aircraft',
 'Convair',
 'Beachner',
 'Canadair',
 'Sons Mustang',
 'Dassault/Sud']

In [47]:
list(df_airplane['Make'].unique()[25:50])

['Robertson',
 'Aeronca',
 'Smith Miniplane',
 'Mitsubishi',
 'Mcdonnell douglas',
 'Taylorcraft',
 'Ted Smith',
 'Ercoupe',
 'Howard Aircraft Corp.',
 'Porterfield',
 'Nihon',
 'Great Lakes',
 'Pitts',
 'Fairchild Hiller',
 'Weatherly',
 'Eagle',
 'Starduster Ii',
 'Homebuilt',
 'Smith Aerostar',
 'Varga',
 'Hatz',
 'Nord Aviation',
 'Crook',
 'American Yankee',
 'Helio']

In [48]:
list(df_airplane['Make'].unique()[51:75])

['Gulfstream',
 'Luscombe',
 'Mckinley Eaa',
 'Snow',
 'Champion',
 'Stinson',
 'Curtiss-Wright',
 'Aero Commander',
 'Piper-Aerostar',
 'Ryan',
 'Jurca',
 'Martin-Pitts',
 'Goodyear',
 'Rand',
 'Rutan',
 'Avres Corp.',
 'Grum Amer',
 'Evans Aircraft',
 'Ayres',
 'Smith',
 'Stampe Renard',
 'Fairchild',
 'Pitts Special',
 'Tailwind']

In [49]:
df_airplane['Make']=df_airplane['Make'].replace("Grumman", "Northrop Grumman")
df_airplane['Make']=df_airplane['Make'].replace("Grum Amer", "Northrop Grumman")
df_airplane['Make']=df_airplane['Make'].replace("Mcdonnell douglas", "Mcdonnell Douglas")
df_airplane['Make']=df_airplane['Make'].replace('Smith Aerostar', "Smith")
df_airplane['Make']=df_airplane['Make'].replace('Smith Miniplane', "Smith")

<ipython-input-49-a0192fb71586>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Grumman", "Northrop Grumman")
<ipython-input-49-a0192fb71586>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Grum Amer", "Northrop Grumman")
<ipython-input-49-a0192fb71586>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Mcdonnell douglas", "Mcdonnell Douglas")
<ipython-input-49-a0192fb71586>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Smith Aerostar', "Smith")
<ipython-input-49-a0192fb71586>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace('Smith Miniplane', "Smith")

In [50]:
df_airplane['Make']=df_airplane['Make'].replace("Avres Corp.", "Ayres")
df_airplane['Make']=df_airplane['Make'].replace("Avres Corp.", "Ayres")

<ipython-input-50-34c7e9871627>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Avres Corp.", "Ayres")
<ipython-input-50-34c7e9871627>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airplane['Make']=df_airplane['Make'].replace("Avres Corp.", "Ayres")

In [53]:
# dropping amateur built aircraft ('Amateur.Built')
df_airplane=df_airplane[df_airplane['Amateur.Built'].str.contains("Yes") == False]
df_airplane

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,1979
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022
90332,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90335,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022,2022
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022

In [55]:
df_airplane['Amateur.Built'].unique()

array(['No'], dtype=object)

In [56]:
list(df_airplane['Make'].unique()[:25])

['Mcdonnell Douglas',
 'Cessna',
 'Bellanca',
 'Navion',
 'Beech',
 'Piper',
 'Northrop Grumman',
 'Beechcraft',
 'Maule',
 'Air Tractor',
 'Rockwell Intl',
 'Mooney',
 'Boeing',
 'Curtis',
 'Lockheed',
 'Embraer',
 'Swearingen',
 'De Havilland',
 'Convair',
 'Canadair',
 'Dassault/Sud',
 'Robertson',
 'Aeronca',
 'Mitsubishi',
 'Taylorcraft']

In [57]:
list(df_airplane['Make'].unique()[25:50])

['Ted Smith',
 'Ercoupe',
 'Howard Aircraft Corp.',
 'Porterfield',
 'Nihon',
 'Great Lakes',
 'Fairchild Hiller',
 'Weatherly',
 'Eagle',
 'Smith',
 'Varga',
 'Nord Aviation',
 'Helio',
 'Gulfstream',
 'Luscombe',
 'Snow',
 'Champion',
 'Stinson',
 'Curtiss-Wright',
 'Aero Commander',
 'Piper-Aerostar',
 'Ryan',
 'Goodyear',
 'Ayres',
 'Fairchild']

In [58]:
list(df_airplane['Make'].unique()[50:75])

['Pitts Special',
 'North American',
 'Funk Aircraft Co.',
 'Rayan',
 'Gates Learjet',
 'Lake',
 'Citabria',
 'Martin',
 'Bac',
 'Erco',
 'Callair',
 'Consolidated Aeronautics Inc.',
 'Arctic',
 'Thurston',
 'Fokker',
 'Wing',
 'Learjet',
 'Na',
 'Bellance',
 'Rockwell International',
 'Downer Aircraft Industries',
 'Ryan Aeronautics',
 'Grumman American',
 'Britten-Norman',
 'Waco']

In [62]:
df_airplane['Make']=df_airplane['Make'].replace("Gates Learjet", "Learjet")
df_airplane['Make']=df_airplane['Make'].replace("Rockwell International", "Rockwell Intl")

In [75]:
df_airplane['Make']=df_airplane['Make'].replace("737", "Boeing")
df_airplane['Make']=df_airplane['Make'].replace("Boeing Company", "Boeing")
df_airplane['Make']=df_airplane['Make'].replace("Bombardier, Inc.", "Bombardier")
df_airplane['Make']=df_airplane['Make'].replace("Bombardier Inc", "Bombardier")

In [76]:
df_airplane['Make']=df_airplane['Make'].replace("Mcdonnell Douglas Aircraft Co", "Mcdonnell Douglas")
df_airplane['Make']=df_airplane['Make'].replace("Mcdonnell Douglas Corporation", "Mcdonnell Douglas")
df_airplane['Make']=df_airplane['Make'].replace("Mcdonald Douglas", "Mcdonnell Douglas")

In [77]:
df_airplane.to_csv('Airplane_data.csv')

In [66]:
df_airplane['Injury.Severity'].value_counts()

Non-Fatal      18652
Fatal           3603
Fatal(1)         334
Fatal(2)         252
Incident         228
Minor            146
Serious          108
Fatal(3)          84
Fatal(4)          76
Fatal(5)          25
Fatal(6)          20
Unavailable       16
Fatal(8)          13
Fatal(7)          13
Fatal(10)          6
Fatal(12)          4
Fatal(13)          2
Fatal(154)         2
Fatal(160)         1
Fatal(14)          1
Fatal(9)           1
Fatal(16)          1
Fatal(54)          1
Fatal(228)         1
Fatal(131)         1
Fatal(97)          1
Fatal(125)         1
Fatal(169)         1
Fatal(113)         1
Fatal(24)          1
Fatal(11)          1
Fatal(19)          1
Fatal(20)          1
Fatal(27)          1
Fatal(26)          1
Fatal(18)          1
Fatal(65)          1
Fatal(17)          1
Name: Injury.Severity, dtype: int64

In [67]:
df_airplane['Purpose.of.flight'].value_counts()

Personal                     13339
Instructional                 3120
Aerial Application            1066
Unknown                        838
Business                       764
Positioning                    350
Aerial Observation             170
Skydiving                      166
Ferry                          163
Other Work Use                 155
Executive/corporate            148
Flight Test                    120
Banner Tow                      89
Public Aircraft - Federal       52
Air Race show                   48
Public Aircraft                 42
Glider Tow                      35
Public Aircraft - State         24
Firefighting                    17
Public Aircraft - Local         12
ASHO                             5
Air Race/show                    4
Air Drop                         3
PUBS                             3
External Load                    1
Name: Purpose.of.flight, dtype: int64

In [68]:
df_airplane['Aircraft.damage'].value_counts()

Substantial    18981
Destroyed       3144
Minor            925
Unknown           97
Name: Aircraft.damage, dtype: int64

In [69]:
df_airplane.to_csv('Airplane_data.csv')

In [70]:
#df_injuries = df.dropna(subset=['Total.Fatal.Injuries', 'Total.Serious.Injuries',
#                                'Total.Minor.Injuries', 'Total.Uninjured', 'Make', 
#                               'Model', 'Injury.Severity'], how='any')
#df_injuries

In [71]:
#df.drop('Longitude', axis=1, inplace=True)

In [72]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,1974
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [73]:
df_airplane

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Year
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,1979
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,1982
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022,2022
90332,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
90335,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022,2022
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022,2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022

In [74]:
#relevant_columns = ['Event.Id', 'Year', 'Injury.Severity', 'Make', 'Model', ]